# Android
android/build/
android/app/build/
android/.gradle/
android/app/.cxx/
android/app/.externalNativeBuild/
*.iml
.idea/

# iOS
ios/Pods/
ios/build/
*.xcworkspace

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/

# Others
.DS_Store
.env
.vscode/
